.content-wrapper {
	background-color: #f8f8f8;
	padding: 50px;
}

.second-head {
	text-align: center;
  	font-weight: 900;
	font-size: 40px;
	color: #f69314;
	margin-bottom:48px;
}

.heading {
	margin-bottom: 1rem;
}

.how-it-works {
	display: flex;
	text-align: center;
	justify-content: center;
	justify-content: space-between;

}

#paid {
  font-size: 2.5rem;
  color: #f69314;
  cursor: pointer;
}

.pay {
  	color: #3a3939;
	font-size: 1.2rem;
	cursor: pointer;
}

.pay-paragraph {
  color: #a19f9f;
  font-size: 1rem;
}

#favorite {
  font-size: 2.5rem;
  color: #f69314;
  cursor: pointer;
}

.favorite-head {
  color: #3a3939;
  font-size: 1.2rem;
  cursor: pointer;
}

.cart-head {
  color: #3a3939;
  font-size: 1.2rem;
  cursor: pointer;
}

.favorite-paragraph {
  color: #a19f9f;
  font-size: 1rem;
}

#add-cart {
  font-size: 2.5rem;
  color: #f69314;
  cursor: pointer;
}

.add-cart-paragraph {
  color: #a19f9f;
  font-size: 1rem;
}

@media only screen and (min-width:321px) {
	.second-head {
		font-size: 2rem;
	}

	.how-it-works {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		margin-left: 2em;
	}

	.paid-wrapper {
		padding-right: 3rem;
		line-height: 1;
		width:90%;
		margin-bottom: 1.5em;
	}

	.favorite-wrapper {
		padding-right: 3rem;
		line-height: 1;
		width:90%;
		margin-bottom: 1.5em;
	}

	.add-wrapper {
		padding-right: 0rem;
		line-height: 1;
		width:90%;
	}
}

@media only screen and (min-width:992px) {
	.content-wrapper {
		padding-left: 0em;
		padding-right: 0;
	}

	.how-it-works {
		display: flex;
		text-align: center;
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.paid-wrapper {
		padding-right: 3rem;
		line-height: 1;
		width:33.3%;
		margin-bottom: 1em;
	}

	.pay-paragraph {
		color: #a19f9f;
		font-size: 1rem;
	}

	.favorite-wrapper {
		padding-right: 3rem;
		line-height: 1;
		width:33.3%;
	}

	.favorite-paragraph {
		color: #a19f9f;
		font-size: 1rem;
	}

	.add-wrapper {
		padding-right: 1rem;
		line-height: 1;
		width: 33.3%;
		padding-top: 2em;
	}

	.add-cart-paragraph {
		color: #a19f9f;
		font-size: 1rem;
	}
}

@media only screen and (min-width:1140px) {
	.content-wrapper {
		padding-left: 0em;
		padding-right: 0;
	}

	.how-it-works {
		display: flex;
		text-align: center;
		justify-content: space-between;
		flex-direction: row;
		flex-wrap: wrap;
		margin-left: 0;
	}

	.paid-wrapper {
		padding-right: 3rem;
		line-height: 1;
		width:26.3%;
		margin-bottom: 1em;
	}

	.pay-paragraph {
		color: #a19f9f;
		font-size: 1rem;
	}

	.favorite-wrapper {
		padding-right: 3rem;
		line-height: 1;
		width:30.3%;
	}

	.favorite-paragraph {
		color: #a19f9f;
		font-size: 1rem;
	}

	.add-wrapper {
		padding-right: 0rem;
		line-height: 1;
		width:30.3%;
		padding-top: 0em;
	}

	.add-cart-paragraph {
		color: #a19f9f;
		font-size: 1rem;
	}
}
