.content-wrapper {
	background-color: #f8f8f8;
	padding: 50px;
}

.second-head {
	text-align: center;
  	font-weight: 900;
	font-size: 40px;
	color: #f69314;
	margin-bottom:48px;
}

.heading {
	margin-bottom: 1rem;
}

.how-it-works {
	display: flex;
	text-align: center;
	flex-wrap: wrap;
	justify-content: center;
	justify-content: space-between;
}

.paid-wrapper {
	padding-right: 3rem;
	line-height: 1.7;
}

.favorite-wrapper {
	padding-right: 3rem;
	line-height: 1.7;
}

.add-wrapper {
	padding-right: 3rem;
	line-height: 1.7;
}

#paid {
  font-size: 2.5rem;
  color: #f69314;
  cursor: pointer;
}

.pay {
  	color: #3a3939;
	font-size: 1.2rem;
	cursor: pointer;

}

.pay-paragraph {
  color: #a19f9f;
  font-size: 1rem;
}

#favorite {
  font-size: 2.5rem;
  color: #f69314;
  cursor: pointer;
}

.favorite-head {
  color: #3a3939;
  font-size: 1.2rem;
  cursor: pointer;
}

.cart-head {
  color: #3a3939;
  font-size: 1.2rem;
  cursor: pointer;
}

.favorite-paragraph {
  color: #a19f9f;
  font-size: 1rem;
}

#add-cart {
  font-size: 2.5rem;
  color: #f69314;
  cursor: pointer;
}

.add-cart-paragraph {
  color: #a19f9f;
  font-size: 1rem;
}

@media only screen and (max-width: 640px) {
	.how-it-works{
		flex-direction: column;
	}

}

@media only screen and (min-width: 641) and (max-width: 1007px) {
.paid-wrapper {
	width:50%;
	display:flex;
}
.favorite-wrapper {
	width: 50%;
	display:flex;
}
.add-wrapper {
	display: flex;
	flex-direction: column;
}
}
