<div class="second-head">How it works?</div>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <span id="paid" class="material-icons">paid</span>
  <span id="favorite" class="material-icons">favorite</span>
  <span id="add-cart" class="material-icons">add_shopping_cart</span>
<div class="second-section">
  <div class="pay">Pay</div>
  <div class="favorite-head">Favorites</div>
  <div class="cart-head">Add to cart</div>
</div>
<div class="property-description">
  <p class="pay-paragraph">Lorem ipsum dolor sit amet,  </p>
  <p class="favorite-paragraph">Lorem ipsum dolor sit amet,</p>
  <p class="add-cart-paragraph">Lorem ipsum dolor sit amet, </p>
</div>

