<div class="content-wrapper">
<div class="container">

	<div class="second-head">
		<div class="heading">How it works</div>
	</div>
	<div class="how-it-works">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<div class="paid-wrapper">
			<span id="paid" class="material-icons">paid</span>
			<div class="pay">Pay</div>
			<p class="pay-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
		</div>
		<div class="favorite-wrapper">
			<span id="favorite" class="material-icons">favorite</span>
			<div class="favorite-head">Favorites</div>
			<p class="favorite-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
		</div>
		<div class="add-wrapper">
			<span id="add-cart" class="material-icons">add_shopping_cart</span>
			<div class="cart-head">Add to cart</div>
			<p class="add-cart-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
		</div>
	</div>
</div>
</div>
