/* You can add global styles to this file, and also import other style files */
body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	overflow-x: hidden;
}

.container {
	max-width: 1140px;
	width: 90%;
	margin: 0 auto;
}

@media only screen and (min-width:1140px) {
	.container {
		width:100%;
	}
}

@media only screen and (min-device-width : 768px) {
	.container {
		width:100%;
	}
}

@media only screen and (min-width:321px){
	.container {
		width:100%;
	}
}





