<h1 class="dummypage-title">Welcome to the dummy page</h1>
<div class="routing-link">
	<nav>
		<a class="page-about" routerLink="/about-page" routerLinkActive="active">
			About
		</a>
		<a class="page-contacts" routerLink="/contacts-page" routerLinkActive="active">
			Contacts
		</a>
		<a class="page-features" routerLink="/features-page" routerLinkActive="active">
			Features
		</a>
		<a class="user-details" routerLink="/users-details" routerLinkActive="active">
			Users
		</a>
	</nav>
	
	<router-outlet>

	</router-outlet>
</div>