<div class="header-body-wrapper">
  <div class="header-wrapper">
    <div class="logo">
      <a href="">Finance</a>
    </div>
    <div class="search">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <span class="material-icons">search</span>
      <input placeholder="search here..." class="search-input">
      <div class="header">
        <span id="notification-active" class="material-icons">notifications_active</span>
        <span id="chat" class="material-icons">chat</span>
        <img src="../../assets/img_avatar.png" class="profile-picture">
      </div>
    </div>
  </div>
  <input type="checkbox" id="check">
  <label for="check" class="icon">
    <div class="hamburger"></div>
  </label>
  <div class="nav-menu">
    <div class="dashboard">
      <div class="home-icon" id="list">
        <a href="" id="menu-list"><span id="nav-icon" class="material-icons">home</span> Dashboard</a>
        <a href="">
          <span id="expand-icon" class="material-icons">expand_more</span>
        </a>
      </div>
    </div>
    <div class="page-icon" id="list">
      <a href="" id="menu-list">
        <span id="nav-icon" class="material-icons">sticky_note_2</span>Pages
      </a>
      <a href="" class="expand">
        <span id="expand-icon" class="material-icons">expand_more</span>
      </a>
    </div>
    <div class="app-icon" id="list">
      <a href="" id="menu-list">
        <span id="nav-icon" class="material-icons">apps</span>Applications
      </a>
      <a href="" class="expand">
        <span id="expand-icon" class="material-icons">expand_more</span>
      </a>
    </div>
    <div class="ui-icon" id="list">
      <a href="" id="menu-list">
        <span id="nav-icon" class="material-icons">palette</span>UI component
      </a>
      <a href="" class="expand">
        <span id="expand-icon" class="material-icons">expand_more</span>
      </a>
    </div>
    <div class="widgets-icon" id="list">
      <a href="" id="menu-list">
        <span id="nav-icon" class="material-icons">palette</span>Widgets
      </a>
      <a href="" class="expand">
        <span id="expand-icon" class="material-icons">expand_more</span>
      </a>
    </div>
    <div class="forms-icon" id="list">
      <a href="" id="menu-list">
        <span id="nav-icon" class="material-icons">ballot</span> Forms
      </a>
      <a href="" class="expand">
        <span id="expand-icon" class="material-icons">expand_more</span>
      </a>
    </div>
    <div class="charts-icon" id="list">
      <a href="" id="menu-list">
        <span id="nav-icon" class="material-icons">show_chart</span> Charts
      </a>
      <a href="" class="expand">
        <span id="expand-icon" class="material-icons">expand_more</span>
      </a>
    </div>
  </div>
</div>
<div>
  <app-dashboard-body></app-dashboard-body>
</div>
