<div class="container">
	<div class="property-head">Available pets</div>
	<div class="next-previous">
		<a class="previous" href="#">Previous</a> / <a class="next" href="#">Next</a>
	</div>
	<div class="property">
		<div *ngFor="let index of properties(4) ;let i = index">
			<img class="first-property" src="../../assets/pet2.png">
			<div class="property-price">$3,000</div>
			<div class="property-contain">labrador | puppy | indoor</div>
			<div class="property-address">480 12th, Unit 14,San Francisco, CA</div>
		</div>
	</div>
	<div class="btn">
		<a class="more-pets" href="">View more pets</a>
	</div>
</div>
