.content-wrapper {
	padding: 5em 0;
}

.property-wrapper {
	margin-bottom: 1em;
}

.property-head {
	font-size: 2.5rem;
	font-weight: 900;
	color: #f69314;
}

.property-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 3em;
}

.next-previous {
	align-items: center;
	display: flex;
	margin-right: 3.0em;
}

.previous {
	text-decoration: none;
	color: black;
	text-transform: uppercase;
}

.previous:hover {
	color: #a8a7a7;
	transition: .3s all;
}

.slash {
	margin:0 1em;
	color: #ccc;
}

.next {
	text-decoration: none;
	color: black;
	text-transform: uppercase;
}

.next:hover {
	color: #a8a7a7;
	transition: .3s all;
}

.property {
	display: flex;
	column-gap: 1.4em;
	width: 100%;
	line-height: 1.7;
	margin-bottom: 4rem ;
	flex-wrap: wrap;
}

.property-details {
	display: flex;
	margin: 1.8em 0 3em 0;
	font-size: .75rem;
	color: #858583;
}

.property-contain {
	margin-right: 2.5em;
	color: #757474;
	font-size: .8rem;
}

.symbol {
	margin: 0 .5em;
}

.first-property {
	width: 16em;
	height: 10em;
	cursor: pointer;
}

.property-content-wrapper {
	margin: .7em 0px 0px .6em;
}

.property-price {
	font-weight: bold;
	color: black;
	margin-right: 3em;
}

.property-address {
	color: #757474;
	font-size: .8rem;
}

.more-pets {
	background-color: #f69314;
	border-radius: 20px;
	color: #ecece9;
	text-decoration: none;
	padding: .7em 2em;
}

.more-pets:hover {
	background-color: #353434;
	border-color: #353434;
	transition: .3s all;
}

.btn {
	text-align: center;
}

@media only screen and (max-width: 960px) {
	.content-wrapper {
		padding-left: 1em;
	}

	.first-property {
		width: 24.3em;
		height: auto;
		cursor: pointer;
	}

	.property-contain {
				margin-left: 0;
		margin-bottom: .1em;
		margin-right: 0;
	}

	.property-content-wrapper {
		margin-bottom: 1.3em;
	}

	.next-previous {
		align-items: center;
		display: flex;
		margin-right: .5em;
	}
}

@media only screen and (max-width: 600px) {
	.property,.next-previous {
		flex-direction: column;
		/* margin-left: 1em; */
		margin-bottom: .1em;

	}
	.property-contain {
		flex-direction: column;
		margin-left: 0;
		margin-bottom: .1em;
		margin-right: 0;
	}
	.property-content-wrapper {
		margin-bottom: 1.3em;
	}
	.property-wrapper{
		display: flex;
		flex-direction: column;
	}
	.property-head {
		margin-left: .4em;
	}
	.first-property {
		width:95%;
		height: auto;
	}
}

