<div class="container">
	<div class="content-wrapper">
		<div class="property-wrapper">
			<div class="property-header">
				<div class="property-head">Available pets</div>
				<div class="next-previous">
					<a class="previous" href="#">Previous</a>
					<span class="slash">/</span>
					<a class="next" href="#">Next</a>
				</div>
			</div>
		</div>
		<div class="property">
			<div *ngFor="let index of properties(4) ;let i = index">
				<a href="#">
					<img class="first-property" src="../../assets/pet2.png">
				</a>
				<div class="property-content-wrapper">
					<div class="property-price">$3,000</div>
					<div class="property-contain">
						<span class="lab">labrador</span> <span class="symbol"> | </span>
						<span class="puppy">puppy</span> <span class="symbol"> | </span>
						<span class="indoor">indoor</span>
					</div>
					<div class="property-address">480 12th, Unit 14,San Francisco, CA</div>
				</div>
			</div>
		</div>

		<div class="btn">
			<a class="more-pets" href="">View more pets</a>
		</div>
	</div>
</div>
