.contact-head {
	text-align: center;
	font-size: 2.5rem;
	font-weight: 900;
	color: #f69314;
	padding-bottom: 1.2em;
}

  .contacts-container {
	background-color: #f8f9fa;
	padding: 5em 0;
	margin-top: 3em;
}

.contact-form-heading {
	padding: 1.8em 0;
	font-size: 1.5rem;
}

.first-name {
	font-size: 1rem;
}

.last-name {
	font-size: 1rem;
}

.contact-form {
	width: 50%;
	padding: 1.8em 3em;
	margin-bottom: 2em;
	background-color: #ffffff;
	line-height: 2;
}

.column {
	display: flex;
	column-gap: 10px;
}

.contacts {
	padding: 1.8em 3em;
	background-color: #ffffff;
	margin-bottom: 2em;
	line-height: 1.5;
	height: 50%;
}

.address {
	color: grey;
}

.address-heading {
	padding-bottom: 1.2em;
}

.phone-number {
	color: #f69314;
	cursor: pointer;
}

.phone-number:hover {
	color: #b76a07;
}

.phone-heading {
	padding-bottom: 1.2em;
}

.email-id {
	color: #f69314;
	cursor: pointer;
}

.email-id:hover {
	color: #b76a07;
}

.e-mail:focus-visible {
	outline: none;
}

.email-address {
	font-size: 1rem;
}

.email-details {
	padding-bottom: .6em;
}

.subject-details {
	padding-bottom: .6em;
}

.subject-head {
	font-size: 1rem;
}

.message-details {
	padding-bottom: .6em;
}

.message-head {
	font-size: 1rem;
}

.subjects:focus-visible {
	outline: none;
}

.message:focus-visible {
	outline: none;
}

.submit:hover {
	background-color: #353434;
	border-color: #353434;
}

.submit-message {
	text-decoration: none;
	color: white;
}

.fname:focus-visible {
	outline: none;
}

.lname:focus-visible {
	outline: none;
}

@media only screen and (min-width:321px) {
	.contact-head {
		text-align: center;
		font-size: 2.5rem;
		font-weight: 900;
		color: #f69314;
		padding-bottom: 0em;
	}

	.contacts-container {
		background-color: #f8f9fa;
		padding: 5em 0;
		margin-top: 3em;
		overflow-x: hidden;
	}

	.contact-form {
		margin: 0;
		margin-bottom: 2em;
		background-color: #fff;
		line-height: 2;
		width: 84%;
		padding-right: 4em;
	}

	.contacts {
		margin: 1em 1em 2em 0;
		background-color: #ffffff;
		line-height: 1.5;
		height: 50%;
		width: 89%;
	}

	.column {
		display: flex;
		flex-direction: column;
		padding-left: 16px;
		padding-right: 4.7em;
	}

	.column-name {
		display: flex;
		flex-direction: column;
		margin-right: 0em;
	}

	.email-details,.subject-details,.message-details {
		margin-right: 0em;
	}

	.submit {
		margin: .9em 4em 0px .1em;
	}

	.lname {
		border-radius: 20px;
		padding: .7em 4.5em .7em .7em;
		background-color: transparent;
		border:1px solid #a9acaf;
	}

	.last-name {
		margin-top: 10px;
		margin-right: -10px;
		display: flex;
		flex-direction: column;
	}

	.first-name {
		display: flex;
		flex-direction: column;
		margin-right: -10px;
	}

	.fname {
		border-radius: 20px;
		padding:.7em 4.4em .7em .7em;
		background-color: transparent;
		border:1px solid #a9acaf;
	}

	.e-mail {
		padding: .8em 0em .9em .5em;
		border-radius: 1.2em;
		background-color: transparent;
		border: 1px solid #a9acaf;
		width: 100%;
	}

	.subjects {
		padding: .7em 0em .9em .5em;
		border-radius: 1.2em;
		background-color: transparent;
		border: 1px solid #a9acaf;
		width: 100%;
	}

	.message {
		padding: 1.2em 0em 3em .5em;
		border-radius: 1.2em;
		background-color: transparent;
		border: 1px solid #a9acaf;
		width: 100%;
	}

	.submit {
		background-color: #f69314;
		border-radius: 30px;
		color: white;
		text-align: center;
		margin: .9em 7em 0px .1em;
		padding: .5em;
		border: 1px solid #f69314;
		cursor: pointer;
	}
}

@media only screen and (min-width : 992px) {
	.contacts-container {
		overflow-x: hidden;
	}

	.contact-form {
		padding: 0;
		margin:0;
		width: 100%;
	}

	.contact-form-heading {
		padding: 1.8em 2.5em;
		font-size: 1.5rem;
	}

	.column {
		display: flex;
		flex-direction: column;
		padding:1em 1em;
	}

	.contacts {
		margin: 1em 0em;
		background-color: #ffffff;
		margin-bottom: 2em;
		line-height: 1.5;
		height: 50%;
		width:93.4%;
		padding-right: 0;
	}

	.column-name {
		display: flex;
		flex-direction: column;
		margin-left: 4em;
		margin-right: 30em;
	}

	.submit {
		margin: .9em 4em 0px .1em;
	}

	.lname {
		border-radius: 20px;
		padding: .7em 4.8em .7em .7em;
		background-color: transparent;
		border:1px solid #a9acaf;
	}

	.last-name {
		display: flex;
		flex-direction: column;
		margin-top: 10px;
		margin-right: 0em;
	}

	.fname {
		border-radius: 20px;
		padding:.7em 4.4em .7em .7em;
		background-color: transparent;
		border:1px solid #a9acaf;
	}

	.first-name {
		display: flex;
		flex-direction: column;
		margin-right: 0;
	}

	.e-mail {
		padding: .6em 0em .9em 0em;
		border-radius: 1.2em;
		background-color: transparent;
		border: 1px solid #a9acaf;
		width: 100%;
	}

	.email-details,.subject-details,.message-details {
		margin-left: 4em;
		margin-right: 30.2em;
		padding-bottom: .6em;
	}

	.subjects {
		padding: .6em 0em .9em 0em;
		border-radius: 1.2em;
		background-color: transparent;
		border: 1px solid #a9acaf;
		width: 100%;
	}

	.message {
		padding: 1.2em 0em 3em 0em;
		border-radius: 1.2em;
		background-color: transparent;
		border: 1px solid #a9acaf;
		width: 100%;
	}

	.submit {
		background-color: #f69314;
	  	border-radius: 30px;
	  	color: white;
	  	text-align: center;
	  	margin: 2em 40em 2em 4em;
	  	padding: 8px;
	  	border:1px solid #f69314;
	  	cursor: pointer;
	}
}

@media only screen and (min-width:1140px) {
	.contact-form {
		padding: 1em 3em;
		background-color: #ffffff;
		width: 50%;
	}

	.contact-head {
		text-align: center;
		font-size: 2.5rem;
		font-weight: 900;
		color: #f69314;
		padding-bottom: 1.2em;
	}

	  .contacts-container {
		background-color: #f8f9fa;
		padding: 5em 0;
		overflow:hidden;
	}

	.contacts {
		margin-top: 0;
		background-color: #ffffff;
		margin-bottom: 2em;
		line-height: 1.5;
		height: 50%;
		width:50%;
		padding-right: 0;
	}

	.contact-form-heading {
		padding: 1em 0;
		font-size: 1.5rem;
	}

	.column-name {
		display: flex;
		flex-direction: row;
		margin-bottom: .6em;
		column-gap: .6em;
		margin-right: 0;
		margin-left: 0;
	}

	.message-details,.email-details,.subject-details {
		margin-right: 0;
		margin-left: 0;
	}

	.column {
		display: flex;
		flex-direction: row;
	}

	.submit {
		background-color: #f69314;
		border-radius: 30px;
		color: white;
		text-align: center;
		margin: .9em 20em 0px .1em;
		padding: 8px;
		border:1px solid #f69314;
		cursor: pointer;
	}

	.lname {
		border-radius: 20px;
		padding: .7em .4em .7em .7em;
		background-color: transparent;
		border:1px solid #a9acaf;
	}

	.last-name {
		margin-top: 0px;
		margin-right: .5em;
	}

	.first-name {
		margin-right: 0;
	}

	.submit-message {
		text-decoration: none;
		color: white;
	}

	.fname {
		border-radius: 20px;
		padding:.7em 1.6em .7em .7em;
		background-color: transparent;
		border:1px solid #a9acaf;
	}

	.e-mail {
		padding: .6em 0em .9em 1em;
		border-radius: 1.2em;
		background-color: transparent;
		border: 1px solid #a9acaf;
		width: 95%;
	}

	.subjects {
		padding: .6em 0em .9em 1em;
		border-radius: 1.2em;
		background-color: transparent;
		border: 1px solid #a9acaf;
		width: 95%;
	}

	.message {
		padding: 1.2em 0em 3em 1em;
		border-radius: 1.2em;
		background-color: transparent;
		border: 1px solid #a9acaf;
		width: 95%;
	}
}
