<div class="contact-head">Contact us</div>
<form class="contact">

  <div class="first-name">
    <div class="fname-head">
      First Name:
    </div>
    <input class="fname" type="text" ng-model="firstname">
  </div>
  <div class="last-name">
    <div class="lname-head">
      Last Name:
  </div>
  <input class="lname" type="text" ng-model="lastname">
  </div>
</form>
<form>
<div class="email-address">
  Email:
</div>
<div class="email-input">
  <input class="e-mail" type="text" ng-model="email">
</div>
<div class="subject-head">
  Subject:
</div>
<input class="subjects" type="text" ng-model="subject" >
<div class="message-head">
  Message:
</div>
<input class="message" type="text" ng-model="messages" placeholder="Enter message">
</form>
<div class="submit">
  <a class="submit-message" href="#">Send Message</a>
</div>
