.contact-head {
	text-align: center;
	font-size: 40px;
	font-weight: 900;
	color: #f69314;
	padding-bottom: 20px;
  }

  .contacts-container {
	background-color: #f8f9fa;
	padding: 5em 0;
	margin-top: 50px;
  }

.contact-form-heading {
	padding: 30px 0;
	font-size: 24px;
}

.column-name {
	display: flex;
	margin-bottom: 10px;
	column-gap: 10px;
}

.first-name {
	font-size: 16px;
}

.last-name {
	font-size: 16px;
}

.contact-form {
	width: 50%;
	padding: 30px 50px;
	margin-bottom: 80px;
	background-color: #ffffff;
	line-height: 2;
}

.column {
	display: flex;
	column-gap: 10px;

}

.contacts {
	padding: 30px 50px;
	background-color: #ffffff;
	margin-bottom: 80px;
	line-height: 1.5;
	height: 50%;
}

.address {
	color: grey;
}

.address-heading {
	padding-bottom: 20px;
}

.phone-number {
	color: #f69314;
	cursor: pointer;
}

.phone-number:hover {
	color: #b76a07;
}

.phone-heading {
	padding-bottom: 20px;
}

.email-id {
	color: #f69314;
	cursor: pointer;
}

.email-id:hover {
	color: #b76a07;
}

.e-mail {
	padding: 10px 0 15px 18px;
	border-radius: 20px;
	background-color: transparent;
	border:1px solid #a9acaf;
	width: 92%;
}

.e-mail:focus-visible {
	outline: none;
}

.email-address {
	font-size: 16px;
}

.email-details {
	padding-bottom: 10px;
}

.subject-details {
	padding-bottom: 10px;
}

.subject-head {
	font-size: 16px;
}

.message-details {
	padding-bottom: 10px;
}

.message-head {
	font-size: 16px;
}

.subjects {
	padding: 10px 0 15px 18px;
	border-radius: 20px;
	background-color: transparent;
	border:1px solid #a9acaf;
	width: 92%;
}

.subjects:focus-visible {
	outline: none;
}

.message {
	padding: 20px 0 60px 18px;
	border-radius: 20px;
	background-color: transparent;
	border:1px solid #a9acaf;
	width: 92%;
}

.message:focus-visible {
	outline: none;
}

.submit {
	background-color: #f69314;
  border-radius: 30px;
  color: white;
  text-align: center;
  margin: 15px 389px 0px 4px;
  padding: 8px;
  border:1px solid #f69314;
  cursor: pointer;
}

.submit:hover {
	background-color: #353434;
	border-color: #353434;
}

.submit-message {
	text-decoration: none;
	color: white;
}

.fname {
	border-radius: 20px;
	padding: 10px 10px 10px 5px;
	background-color: transparent;
	border:1px solid #a9acaf;
}

.fname:focus-visible {
	outline: none;
}

.lname {
	border-radius: 20px;
	padding: 10px 10px 10px 5px;
	background-color: transparent;
	border:1px solid #a9acaf;
}

.lname:focus-visible {
	outline: none;
}
