<div class="contacts-container">
	<div class="container">
		<div class="contact-head">Contact us</div>
		<div class="row">
			<div class="column">
				<div class="contact-form">
					<form class="form-wrapper">
						<div class="contact-form-heading">Contact Form</div>
						<div class="column-name">
							<div class="first-name">
								First Name
								<input class="fname " type="text" ng-model="firstname">
							</div>
							<div class="last-name">
								Last Name
								<input class="lname ln" type="text" ng-model="lastname">
							</div>
						</div>
						<div class="email-details">
							<div class="email-address">Email</div>
							<div class="email-input">
								<input class="e-mail" type="text" ng-model="email">
							</div>
						</div>
						<div class="subject-details">
							<div class="subject-head">Subject</div>
							<input class="subjects" type="text" ng-model="subject">
						</div>
						<div class="message-details">
							<div class="message-head">Message</div>
							<input class="message" type="text" ng-model="messages" placeholder="Enter message">
						</div>
						<div class="submit">
							<a class="submit-message" href="#">Send Message</a>
						</div>
					</form>
				</div>

				<div class="contacts">
					<div class="address-heading">
						Address
						<div class="address">203 Fake St. Mountain View, San Francisco, California, USA</div>
					</div>
					<div class="phone-heading">
						Phone
						<div class="phone-number">+1 232 3235 324</div>
					</div>
					<div class="email-heading">
						Email Address
						<div class="email-id">youremail@domain.com</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
