<div class="dashboard-body-wrapper">
  <div class="dashboard-body-menu-wrapper">
    <div class="side-menubar">
      <div class="home-icon">
        <span id="nav-icon" class="material-icons">
          home</span> Dashboard
        <span id="expand-icon1" class="material-icons">expand_more</span>
      </div>
      <div class="page-icon">
        <span id="nav-icon" class="material-icons">sticky_note_2</span>
        Pages <span id="expand-icon2" class="material-icons">expand_more</span>
      </div>
      <div class="app-icon">
        <span id="nav-icon" class="material-icons">apps</span>
        Applications
        <span id="expand-icon3" class="material-icons">expand_more</span>
      </div>
      <div class="ui-icon">
        <span id="nav-icon" class="material-icons">palette</span>
        UI component
        <span id="expand-icon4" class="material-icons">expand_more</span>
      </div>
      <div class="widgets-icon">
        <span id="nav-icon" class="material-icons">palette</span>
        Widgets
        <span id="expand-icon5" class="material-icons">expand_more</span>
      </div>
      <div class="forms-icon">
        <span id="nav-icon" class="material-icons">ballot</span> Forms <span id="expand-icon6"
          class="material-icons">expand_more</span>
      </div>
      <div class="charts-icon"><span id="nav-icon" class="material-icons">show_chart</span> Charts <span
          id="expand-icon7" class="material-icons">expand_more</span></div>
    </div>
    <div class="dashboard-body">
      <div>
        <app-total-income></app-total-income>
      </div>
      <div>
        <app-ar-ap-balance></app-ar-ap-balance>
      </div>
      <div>
        <app-ebit-cogs></app-ebit-cogs>
      </div>
      <div>
        <app-disputed-overdue-invoices></app-disputed-overdue-invoices>
      </div>
      <div>
        <app-ebit></app-ebit>
      </div>
    </div>
  </div>
  <div>
    <app-dashboard-footer></app-dashboard-footer>
  </div>
</div>
