.side-menubar {
  margin-top: 3em;
  margin-left: 1em;
  /* width: 15vw; */
  font-size: small;
  color: grey;
  height: 100vh;
}

.dashboard-body-menu-wrapper {
  display: flex;
  /* width: 100vw;
  height: 150vh; */
}

#home-icon, #page-icon, #app-icon, #ui-icon, #widgets-icon, #forms-icon, #charts-icon {
  align-items: center;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

#nav-icon {
  padding: 1em 1em 1em 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #8b8c8e;
}

.material-icons {
  border: 1px solid #F5F5F6;
  background-color: #F5F5F6;
  padding: .5em 0em .5em .5em;
  font-size: 1.3em;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: #8b8c8e;
  text-decoration: none;
}

.dashboard-body {
  background: #ffffff;
  padding: 1em 2em 1em 2em;
  margin: 32px 1em 2em 11em;
  position: absolute;
  left: 3em;
  /* right:12px; */
  width:79vw;
}


