.side-menubar {
  margin-top: 3em;
  margin-left: 1em;
  width: 100%;
  font-size: small;
  color: grey;
}

.dashboard-body-wrapper {
  display: flex;
}

.home-icon,.page-icon,.app-icon,.ui-icon,.widgets-icon,.forms-icon,.charts-icon {
  display: flex;
  align-items: center;
}

#expand-icon1 {
  padding-left: 2em;
}
#expand-icon2 {
  padding-left: 4em;
}
#expand-icon3 {
  padding-left: 1.5em;
}
#expand-icon4 {
  padding-left: .8em;
}
#expand-icon5 {
  padding-left: 3.2em;
}
#expand-icon6 {
  padding-left: 3.9em;
}
#expand-icon7 {
  padding-left: 3.7em;
}

#nav-icon {
  padding: 1em 1em 1em 0;
}

.material-icons {
  border: 1px solid #F5F5F6;
  background-color: #F5F5F6;
  padding: .5em 0em .5em .5em;
  font-size: 1.3em;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: #8b8c8e;
}

.dashboard-body {
  background: #ffffff;
  padding: 1em 1em 1em 1em;
  margin: 32px 2em 5em 2em;
  height: auto;
  position: absolute;
  left: 11.5em;
  width:63em;
  height:100em;
}

/* .body-footer-wrapper {
  display: flex;
  flex-direction: column;
} */


