<div class="dashboard-body-wrapper">
  <div class="dashboard-body-menu-wrapper">
    <div class="side-menubar">
      <div class="dashboard">
        <div id="home-icon">
          <a href=""><span id="nav-icon" class="material-icons">home</span> Dashboard</a>
          <a href="">
            <span id="expand-icon1" class="material-icons">expand_more</span>
          </a>
        </div>
      </div>
      <div id="page-icon">
        <a href="">
          <span id="nav-icon" class="material-icons">sticky_note_2</span>Pages
        </a>
        <a href="" class="expand">
          <span id="expand-icon2" class="material-icons">expand_more</span>
        </a>
      </div>
      <div id="app-icon">
        <a href="">
          <span id="nav-icon" class="material-icons">apps</span>Applications
        </a>
        <a href="" class="expand">
          <span id="expand-icon3" class="material-icons">expand_more</span>
        </a>
      </div>
      <div id="ui-icon">
        <a href="">
          <span id="nav-icon" class="material-icons">palette</span>UI component
        </a>
        <a href="" class="expand">
          <span id="expand-icon4" class="material-icons">expand_more</span>
        </a>
      </div>
      <div id="widgets-icon">
        <a href="">
          <span id="nav-icon" class="material-icons">palette</span>Widgets
        </a>
        <a href="" class="expand">
          <span id="expand-icon5" class="material-icons">expand_more</span>
        </a>
      </div>
      <div id="forms-icon">
        <a href="">
          <span id="nav-icon" class="material-icons">ballot</span> Forms
        </a>
        <a href="" class="expand">
          <span id="expand-icon6" class="material-icons">expand_more</span>
        </a>
      </div>
      <div id="charts-icon">
        <a href="">
          <span id="nav-icon" class="material-icons">show_chart</span> Charts
        </a>
        <a href="" class="expand">
          <span id="expand-icon7" class="material-icons">expand_more</span>
        </a>
      </div>
    </div>
    <div class="dashboard-body">
      <div>
        <app-total-income></app-total-income>
      </div>
      <div>
        <app-ar-ap-balance></app-ar-ap-balance>
      </div>
      <div>
        <app-ebit-cogs></app-ebit-cogs>
      </div>
      <div>
        <app-disputed-overdue-invoices></app-disputed-overdue-invoices>
      </div>
      <div>
        <app-ebit></app-ebit>
      </div>
      <div>
        <app-dashboard-footer></app-dashboard-footer>
      </div>
    </div>
  </div>
</div>
