<div class="container">
<h1 class="review-head">people says...</h1>
<p class="review"><i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tempor nec feugiat nisl pretium fusce id velit. Eget sit amet tellus cras adipiscing enim eu. Platea dictumst vestibulum rhoncus est. Arcu cursus vitae congue mauris rhoncus aenean.</i></p>
<div class="reviewer">
  <img class="avatar" src="../../assets/img_avatar.png">
  <div class="avatar-name">John Smith</div>
</div>
</div>
