.review-head {
  text-align: center;
  font-size: 40px;
  color: orange;
  font-weight: 900;
  margin: 130px 30px 30px 45px;
}

.review {
  text-align: center;
  margin: 20px 200px 40px 230px;
  font-size: 20px;
  color: #969393;
}

.reviewer {
	margin-left: 575px;
	display: flex;
	column-gap: 5px;
}

.avatar {
  border-radius: 270px;
  width: 60px;
  float: left;
}

.avatar-name {
  color: grey;
  padding-top: 20px;
  font-size: 16px;
}
