.review-wrapper {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	padding: 5em 0;
}

.review-head {
  text-align: center;
  font-size: 2.5rem;
  color: #f69314;
  font-weight: 900;
}

.review {
  text-align: center;
  font-size: 1.5rem;
  color: #969393;
  line-height: 1.5;
  padding: 1.8em 0;
}

.reviewer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.avatar {
  border-radius: 30px;
  width: 5%;

}

.avatar-name {
  color: grey;
  font-size: 1rem;
  padding-left: 1.2em;
}

@media only screen and(max-width: 800px) {
	.review-wrapper {
		max-width: 800px;
		margin: 0 auto;
		text-align: center;
		padding: 1.5em;
	}
}
