<section class="service-section">
	<div class="container">

		<div>
			<div>
				<h2 class="service-head">Services</h2>
			</div>
		</div>

		<div class="content-container">
			<div class="search-content">
				<div>
					<div>
						<span id="search" class="material-icons">search</span>
					</div>
					<div class="search-contents">
						<div class="search-heading">Search pets</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
							ut labore et dolore magna aliqua.</p>
						<a class="learnmore" href="#">Learn More</a>
					</div>
				</div>
			</div>

			<div class="place-content">
				<div>
					<div>
						<span id="place" class="material-icons">place</span>
					</div>
					<div class="place-contents">
						<div class="location-heading">Our location</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
							ut labore et dolore magna aliqua.</p>
						<a class="learnmore" href="#">Learn More</a>
					</div>
				</div>
			</div>
			<div class="app-content">
				<div>
					<div class="app-icon">
						<span id="app" class="material-icons">smartphone</span>
					</div>
					<div class="mobile-app-content">
						<div class="app-heading">Mobile apps</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
							ut labore et dolore magna aliqua.</p>
						<a class="learnmore" href="#">Learn More</a>
					</div>
				</div>
			</div>

			<div class="buy-content">
				<div>
					<div class="Buy pets">
						<span id="buy" class="material-icons">attach_money</span>
					</div>
					<div class="buy-contents">
						<div class="buy-heading">Buy pets</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
							ut labore et dolore magna aliqua.</p>
						<a class="learnmore" href="#">Learn More</a>
					</div>
				</div>
			</div>

			<div class="app-content">
				<div>
					<div class="app-icon">
						<span id="app" class="material-icons">smartphone</span>
					</div>
					<div class="mobile-app-content">
						<div class="app-heading">Mobile apps</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
							ut labore et dolore magna aliqua.</p>
						<a class="learnmore" href="#">Learn More</a>
					</div>
				</div>
			</div>

			<div class="buy-content">
				<div>
					<div class="Buy pets">
						<span id="buy" class="material-icons">attach_money</span>
					</div>
					<div class="buy-contents">
						<div class="buy-heading">Buy pets</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
							ut labore et dolore magna aliqua.</p>
						<a class="learnmore" href="#">Learn More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

