<section class="service-section">
	<div class="container">
		<div>
			<div>
				<h2 class="service-head">Services</h2>
			</div>
		</div>

		<div class="content-container">
			<div class="search-place">
				<div class="search-content">
					<div>
						<div>
							<span id="search" class="material-icons">search</span>
						</div>
						<div class="search-contents">
							<h3>Search pets</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
								ut labore et dolore magna aliqua.</p>
							<a class="learnmore" href="#">Learn More</a>
						</div>
					</div>
				</div>

				<div class="place-content">
					<div>
						<div>
							<span id="place" class="material-icons">place</span>
						</div>
						<div class="place-contents">
							<h3>Our location</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
								ut labore et dolore magna aliqua.</p>
							<a class="learnmore" href="#">Learn More</a>
						</div>
					</div>
				</div>
			</div>
			<div class="app-buy-store-services">
				<div class="app-content">
					<div>
						<div class="app-icon">
							<span id="app" class="material-icons">smartphone</span>
						</div>
						<div class="mobile-app-content">
							<h3>Mobile apps</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
								ut labore et dolore magna aliqua.</p>
							<a class="learnmore" href="#">Learn More</a>
						</div>
					</div>
				</div>

				<div class="buy-content">
					<div>
						<div class="Buy pets">
							<span id="buy" class="material-icons">attach_money</span>
						</div>
						<div class="buy-contents">
							<h3>Buy pets</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
								ut labore et dolore magna aliqua.</p>
							<a class="learnmore" href="#">Learn More</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
