.service-section {
  padding: 100px 0px;
  background-color: #fcf8f8;
}

.service-head {
  color: orange;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
}

.content-container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 200px 100px 0;
  justify-content: space-between;
  color: grey;
}

.search-heading {
	font-size: 20px;
}

.location-heading {
	font-size: 20px
}

.app-heading {
	font-size: 20px
}

.buy-heading {
	font-size: 20px
}

  .search-contents {
	font-size: 16px;
	padding-left: 60px;
  }

  .place-contents {
	font-size: 16px;
	padding-left: 60px;
  }

  .mobile-app-content {
	font-size: 16px;
	padding-left: 60px;
  }

  .buy-contents {
	font-size: 16px;
	padding-left: 60px;
  }

.learnmore {
  text-decoration: none;
  color: orange;
  font-size: 14px;
}

#search {
  margin-left: 0px;
  margin-top: 30px;
  font-size: 50px;
  float: left;
  color: orange;
}

#place {
  margin-left: 0px;
  margin-top: 30px;
  font-size: 50px;
  float: left;
  color: orange;
}

#app {
  font-size: 50px;
  margin-left: 0px;
  margin-top: 30px;
  float: left;
  color: orange;
}

#buy {
  font-size: 50px;
  margin-left: 0px;
  margin-top: 30px;
  float: left;
  color: orange;
}

#near-by-stores {
  font-size: 50px;
  margin-top: 30px;
  margin-left: 0px;
  float: left;
  color: orange;
}
