.service-contents {
  background-color: #fcf8f8;
  padding: 5em 0;
  border-bottom: 1px solid #dee2e6;
}

.service-head {
  color: #f69314;
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
}

.content-container {
	display: grid;
    grid-template-columns: 20em 20em 20em;
    grid-template-rows: 13em 10em 0;
    justify-content: space-between;
    color: grey;
    line-height: 1.7;
    padding-top: .5em;
    padding-bottom: 7em;

}

.search-heading {
	font-size: 1.25rem;
}

.location-heading {
	font-size: 1.25rem;
}

.app-heading {
	font-size: 1.25rem;
}

.buy-heading {
	font-size: 1.25rem;
}

  .search-contents {
	font-size: 1rem;
	padding-left: 4em;
  }

  .place-contents {
	font-size: 1rem;
	padding-left: 4em;
  }

  .mobile-app-content {
	font-size: 1rem;
	padding-left: 4em;
  }

  .buy-contents {
	font-size: 1rem;
	padding-left: 4em;
	margin-top: 2em;
  }

.learnmore {
  text-decoration: none;
  color: #f69314;
  font-size: 1rem;
}

#search {
  font-size: 3rem;
  float: left;
  color: #f69314;
  margin-top: .5em;
}

#place {
  font-size: 3rem;
  float: left;
  color: #f69314;
  margin-top: .5em;
}

#app {
  font-size: 3rem;
  float: left;
  color: #f69314;
  margin-top: .5em;
}

#buy {
  font-size: 3rem;
  float: left;
  color: #f69314;
  margin-top: .5em;
}

#near-by-stores {
  font-size: 3rem;
  float: left;
  color: #f69314;
  margin-top: .5em;
}

@media only screen and (max-width: 960px) {
	.service-head {
		display: flex;
		flex-direction: column;
	}
	.content-container {
		display: flex;
		flex-direction: column;
		padding-left: 1em;
		padding-bottom: 5em;
	}
	.mobile-app-content,.place-contents {
		padding-top: 1.5em;
	}
	.service-contents {
		background-color: #fcf8f8;
		padding: 2em 0;
		border-bottom: 1px solid #dee2e6;
	}

}

@media only screen and (max-width: 960px) {
}
