<div class="chart-wrapper">
  <div class="row">
    <div class="col-md-6">
      <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels"
        [plotOptions]="chartOptions.plotOptions" [yaxis]="chartOptions.yaxis" [xaxis]="chartOptions.xaxis"
        [legend]="chartOptions.legend" [colors]="chartOptions.colors" [grid]="chartOptions.grid"
        [title]="chartOptions.title">
      </apx-chart>
    </div>
    <div class="col-md-6">
      <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels"
        [plotOptions]="chartOptions.plotOptions" [yaxis]="chartOptions.yaxis" [xaxis]="chartOptions.xaxis"
        [legend]="chartOptions.legend" [colors]="chartOptions2.colors" [grid]="chartOptions.grid"
        [title]="chartOptions2.title" [subtitle]="chartOptions2.subtitle">
      </apx-chart>
    </div>
  </div>
</div>
