<div class="wrapper">
<div class="total-income">
  <div class="name">
    Total Income
  </div>
  <div class="price">
      $579,000
  </div>
  <div class="discount">
        saved 25%
  </div>
</div>

<div class="total-expences">
  <div class="name">
    Total Expences
  </div>
  <div class="price">
      $79,000
  </div>
  <div class="discount">
        saved 25%
  </div>
</div>

<div class="cash-on-hand">
  <div class="name">
    Cash on Hand
  </div>
  <div class="price">
      $92,000
  </div>
  <div class="discount">
        saved 25%
  </div>
</div>

<div class="net-profit-margin">
  <div class="name">
    Net Profit Margin
  </div>
  <div class="price">
      $179,000
  </div>
  <div class="discount">
        saved 25%
  </div>
</div>
</div>
