#card {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

#chart {
  width: 18vw;
  margin: 0px 20px 0 0em;
  padding: 0px;
  text-align: center;
  justify-content: center;
  display: flex;
}

#chart2 {
  width: 18vw;
  margin: 0px 1em 0 0em;
  padding: 0px;
  text-align: center;
  justify-content: center;
  display: flex;
}

.chart-legend-wrapper {
  margin-left: 1vw;
}

.chart-legend {
  font-size: 12px;
  display: flex;
  margin: 16px 42px;
  line-height: 1.5;
  width:12vw;
  justify-content: space-between;
  align-content: center;
}

.report-wrapper {
  text-align: center;
}

p {
  color: #c7c7c9;
}

#wrapper {
  width:20vw;
}

.report {
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  margin-top: 1em;
}

.boarder-line {
  border-bottom: 1px solid #e6e5e5;
}

h2 {
  font-size: 18px;
  margin-bottom: 0;
  color: #c0c0c0;
}
h1 {
  font-size: 22px;
  margin-top: 0;
  color: #333;
}

.footer {
  position: absolute;
  bottom: 16px;
  left: 0;
  right: 0;
  font-size: 14px;
  text-align: center;
}

@media only screen and (min-width:360px) {

#chart {
  width: 100%;
  margin: 32px 20px 0 0em;
  padding: 0px;
  text-align: center;
  justify-content: center;
  display: flex;
}

#chart2 {
  width: 100%;
  margin: 32px 1em 0 0em;
  padding: 0px;
  text-align: center;
  justify-content: center;
  display: flex;
}

#card {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
}

.chart-legend-wrapper {
  margin-left: 1vw;
}

.chart-legend {
  font-size: 12px;
  display: flex;
  margin: 16px 16px;
  line-height: 1.5;
  width:100%;
  justify-content: space-between;
  align-content: center;
}
}

@media only screen and (min-width:992px) {

}

@media only screen and (min-width:1140px) {

#chart {
  width: 18vw;
  margin: 0px 20px 0 0em;
  padding: 0px;
  text-align: center;
  justify-content: center;
  display: flex;
}

#chart2 {
  width: 18vw;
  margin: 0px 1em 0 0em;
  padding: 0px;
  text-align: center;
  justify-content: center;
  display: flex;
}

.chart-legend-wrapper {
  margin-left: 1vw;
}

.chart-legend {
  font-size: 12px;
  display: flex;
  margin: 16px 42px;
  line-height: 1.5;
  width:12vw;
  justify-content: space-between;
  align-content: center;
}
}
