<div id="card">
  <div class="wrapper">
    <div id="chart">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [plotOptions]="chartOptions.plotOptions"
        [labels]="chartOptions.labels"
        [stroke]="chartOptions.stroke"
        [fill]="chartOptions.fill"
        [responsive]="chartOptions.responsive"
        [legend]="chartOptions.legend"
        [title]="chartOptions.title">
      </apx-chart>
    </div>
      <div class="chart-legend-wrapper">
        <div class="chart-legend">
          <div class="chart-legend-left">
            <li>Balance</li>
            <p>-$18,570</p>
          </div>
          <div class="chart-legend-right">
            <li>Balance</li>
            <p>-$18,570</p>
          </div>
        </div>
        <div class="report-wrapper">
        <div class="boarder-line"></div>
        <a class="report" href="">View Full Report</a>
      </div>
      </div>


  </div>
  <div class="wrapper">
    <div id="chart2">
      <apx-chart
        [series]="chartOptions2.series"
        [chart]="chartOptions2.chart"
        [plotOptions]="chartOptions2.plotOptions"
        [labels]="chartOptions2.labels"
        [stroke]="chartOptions.stroke"
        [fill]="chartOptions.fill"
        [responsive]="chartOptions2.responsive"
        [title]="chartOptions2.title">
      </apx-chart>
    </div>
      <div class="chart-legend-wrapper">
        <div class="chart-legend">
          <div class="chart-legend-left">
            <li>Balance</li>
            <p>-$18,570</p>
          </div>
          <div class="chart-legend-right">
            <li>Balance</li>
            <p>-$18,570</p>
          </div>
        </div>
        <div class="report-wrapper">
        <div class="boarder-line"></div>
        <a class="report" href="">View Full Report</a>
        </div>
      </div>

  </div>
</div>
