#card {
  display: flex;
  justify-content: space-between;
}

#chart {
  width: 25vw;
  margin: 0px 20px 0 1em;
  padding: 0px;
  text-align: center;
  justify-content: center;
  display: flex;
}

#chart2 {
  width: 27vw;
  margin: 0px 1em 0 1em;
  padding: 0px;
  text-align: center;
  justify-content: center;
  display: flex;
}

.chart-legend-wrapper {
  margin-left: 5vw;
}

.chart-legend {
  font-size: 12px;
  display: flex;
  margin: 42px;
  margin-top: 16px;
  line-height: .5;
  width:15vw;
  justify-content: space-between;
  align-content: center;
}

.report-wrapper {
  text-align: center;
}

p {
  color: #c7c7c9;
}

.wrapper {
  width:20vw;
}

.report {
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  margin-top: 1em;
}

.boarder-line {
  border-bottom: 1px solid #e6e5e5;
}

h2 {
  font-size: 18px;
  margin-bottom: 0;
  color: #c0c0c0;
}
h1 {
  font-size: 22px;
  margin-top: 0;
  color: #333;
}

.footer {
  position: absolute;
  bottom: 16px;
  left: 0;
  right: 0;
  font-size: 14px;
  text-align: center;
}
