<div class="chart-wrapper">
<!-- <div id="chart">
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [labels]="chartOptions.labels"
    [legend]="chartOptions.legend"
    [title]="chartOptions.title"
    [dataLabels]="chartOptions.dataLabels"
    [responsive]="chartOptions.responsive"
  ></apx-chart>
</div> -->
<div>
  <!-- <h1>3. Doughnut chart</h1> -->
  <canvas #doughnutCanvas style="height:10vh; width:20vw"></canvas>
  <!-- <hr color="red"> -->
</div>
<div>
  <app-disputed-invoices></app-disputed-invoices>
</div>
<div>
  <app-disputed-overdue></app-disputed-overdue>
</div>
</div>
