<footer class="footer">
  <div class="container">
    <div class="contents">
      <div class="row">
        <div class="about-column">
          <div class="about content">
            <h3 class="footer-about-head">About stated</h3>
            <p class="about-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Tempor nec feugiat nisl pretium fusce id velit.</p>
          </div>
        </div>

        <div class="quick-links-column">
          <div>
            <h3 class="quick-links">Quick Links</h3>
            <div>
              <ul class="list-unstyled">
                <div>
                  <a class="about" href="#"> About</a>
                  <a class="about" href="#"> Contact us</a>
                  <a class="about" href="#"> Services</a>
                </div>
              </ul>
            </div>
          </div>
        </div>

      </div>
      <div>
        <div class="column-subscribe">
          <div class="subscribe">
            Subscribe Newsletters
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Enter Email"
              aria-label="Enter Email" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary text-black" type="button" id="button-addon2">Send</button>
            </div>
          </div>
        </div>
        <div>
          <div class="follow-us">
            Follow Us
          </div>
          <div>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <a href="">
              <a href="#" class="pl-0 pr-3"><span class="fa-facebook"></span></a>
              <a href="#" class="pl-3 pr-3"><span class="fa-twitter"></span></a>
              <a href="#" class="pl-3 pr-3"><span class="fa-instagram"></span></a>
              <a href="#" class="pl-3 pr-3"><span class="fa-google"></span></a>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="copyright">
      <p>Copyright ©2021 All rights reserved</p>
    </div>
  </div>
</footer>
