.footer {
	background-color: #353434;
	padding: 100px 0;
}

.copyright {
	font-size: 16px;
	padding-top: 50px;
	text-align: center;
	color: #737373;
}

.footer-wrapper {
	display: flex;
	padding-bottom: 75px;
	border-bottom: 1px solid #5c5c5c;
}

.about-section {
	width: 50%;
}

.newsleter-section {
	width: 50%;
}

.footer-heading {
	font-size: 24px;
	color: #ffffff;
	margin-bottom: 24px;
}

.about-description {
	font-size: 16px;
	line-height: 1.5;
	color: #737373;
	width: 50%;
}

.footer-options-wrapper {
	display: flex;
}

.footer-links {
	min-width: 200px;
}

.links-wrapper a {
	text-decoration: none;
	color: #737373;
	font-weight: 500;
	font-size: 16px;
	margin-bottom: 14px;
	display: block;
    width: max-content;
}

.newsleter-block {
	width: 100%;
}

.newsletter-input-wrap {
	display: flex;
	margin-bottom: 36px;
}

.newsletter-input{
	padding: 14px 16px 14px 18px;
	width: 100%;
	color: #737373;
	background-color: transparent;
	border: 1px solid #737373;
	border-top-left-radius: 24px;
	border-bottom-left-radius: 24px;
}

.newsletter-input:focus-visible {
	outline: none;
}

.send-button {
	background-color: #f69314;
	border: 1px solid #f69314;
	color: #3d3d3d;
	padding: 14px 32px;
	border-top-right-radius: 24px;
	border-bottom-right-radius: 24px;
	cursor: pointer;
	font-size: 16px;
	transition: all 0.2s ease-in-out;
}

.send-button:hover {
	background-color: #ffffff;
	border-color: #ffffff;
}
