<footer class="footer">
	<div class="container">
		<div class="footer-wrapper">
			<div class="about-section">
				<div class="footer-heading">About Stated</div>
				<div class="about-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque facere
					laudantium magnam voluptatum autem. Amet aliquid nesciunt veritatis aliquam.</div>
			</div>
			<div class="newsleter-section">
				<div class="footer-options-wrapper">
					<div class="footer-links">
						<div class="footer-heading">Quick Links</div>
						<div class="links-wrapper">
							<a href="#">About Us</a>
							<a href="#">Services</a>
							<a href="#">Testimonials</a>
							<a href="#">Contact Us</a>
						</div>
					</div>
					<div class="newsleter-block">
						<div class="footer-heading">Subscribe Newsletter</div>
						<div class="newsletter-input-wrap">
							<input type="text" class="newsletter-input" placeholder="Enter email">
							<button class="send-button">Send</button>
						</div>
						<div class="footer-heading">Follow Us</div>
					</div>
				</div>
			</div>
		</div>

		<div class="copyright">
			<div>Copyright ©2021 All rights reserved | This template is made with  by Colorlib</div>
		</div>
	</div>
</footer>
