<div class="header-wrapper" [ngClass]="{'header-active': isScrolled}">
	<div class="container">
		<div class=" header-menu-wrapper">
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
			<a href="/" class="stated-logo">STATED.</a>
			<div class="top-toolbar">
				<a href="/" class="nav-link active-nav-link">Home</a>
				<a href="/" class="nav-link">Properties</a>
				<a href="/" class="nav-link">Agents</a>
				<a href="/" class="nav-link">About</a>
				<a href="/" class="nav-link">News</a>
				<a href="/" class="nav-link">Contact</a>
			</div>
			<div class="icon">
				<div class="hamburger" (click)="onNativeChange($event)"></div>
			</div>
			<div class="navigation-list">
				<a href="/" class="home" id="list">Home</a>
				<a href="/" class="properties" id="list">Properties</a>
				<a href="/" class="agents" id="list">Agents</a>
				<a href="/" class="about" id="list">About</a>
				<a href="/" class="news" id="list">News</a>
				<a href="/" class="contact" id="list">Contact</a>
			</div>
		</div>
	</div>
</div>
<div class="home-screen">
	<div class="blind-screen">
		<div class="home-content">
			<h1>Buy and sell real estate properties</h1>
			<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam assumenda ea quo cupiditate faceredeleniti fuga officia.</div>
		</div>
	</div>
</div>
