.home-screen {
	height: 100vh;
    width: 100%;
    background-image: url(/assets/blinq-art-black-white-default.jpg);
    background-size: cover;
    background-repeat: no-repeat;
	overflow: hidden;
}

.blind-screen {
	background-color: #353535b5;
    color: #ffffff;
    height: 100%;
	text-align: center;
	padding: 21% 16px 100px 16px;
}

.header-wrapper {
	background-color: transparent;
	position: fixed;
	top: 0;
	width: 100%;
	border-bottom: 1px solid #6f6f6fb5;
}

.header-menu-wrapper {
	display: flex;
	padding: 28px 16px 22px 16px;
}

.top-toolbar {
	text-decoration: none;
	line-height: 2.5;
	margin: 0 250px;
}

.staed-logo {
	font-size: 30px;
	font-weight: bold;
	color: #ffffff;
	margin-left: 110px;
}

.home-content {
	width: 560px;
	margin: 0 auto;
}

h1 {
	font-size: 52px;
	margin: 0 -50px 24px 0px;
}
a {
	text-decoration: none;
	color: #ffffff;
	width: 100%;
	margin: 15px;
}

