.home-screen {
	height: 100vh;
    width: 100%;
    background-image: url(/assets/blinq-art-black-white-default.jpg);
    background-size: cover;
	background-attachment: fixed;
    background-repeat: no-repeat;
	overflow: hidden;
	background-position: center center;

}

.blind-screen {
	background-color: #353535b5;
    color: #ffffff;
    height: 100%;
	padding: 21% 16px 100px 16px;
}

.header-wrapper {
	background-color: transparent;
	position: fixed;
	top: 0;
	width: 100%;
	border-bottom: 1px solid #6f6f6f87;
	padding: 28px 0px 22px 0px;
	transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.header-active {
	padding: 20px 0px 18px 0px;
	background-color: #ffffff;
	border-bottom-color: transparent;
	-webkit-box-shadow: 4px 0 20px -5px rgb(0 0 0 / 20%);
    box-shadow: 4px 0 20px -5px rgb(0 0 0 / 20%);
}

.header-menu-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.stated-logo {
	font-size: 30px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
}

.header-active .stated-logo {
	color: #000000;
}

.home-content {
	max-width: 565px;
	margin: 0 auto;
	text-align: center;
}

h1 {
	font-size: 3rem;
	margin: 0 0 24px 0;
}

.nav-link {
	text-decoration: none;
	color: #ffffff80;
	margin-right: 32px;
	transition: all 0.2s ease-in-out;
}

.nav-link:last-child {
	margin-right: 0;
}

.nav-link:hover {
	color: #ffffff;
}

.active-nav-link {
	color: #ffffff;
}

.header-active .nav-link {
	color: #000000;
}

.header-active .nav-link:hover {
	color: #f69314;
}

.header-active .active-nav-link {
	color: #f69314;
}

.icon {
	position: absolute;
	top: 25%;
	right: 3%;
	transform: translate(-50%,-50%);
	width: 55px;
	height: 65px;
	cursor: pointer;
}

.hamburger {
	position: absolute;
	width: 30px;
	height: 2px;
	background: #ffffff;
	top: 50px;
	left:50px;
	transform: translate(-50%,50%);
	transition: 0.5s;
}

.hamburger::before,
.hamburger::after {
	content: " ";
	position: absolute;
	width:30px;
	height: 2px;
	top:-9px;
	background: #ffffff;
	transition:all  .5s ease-in-out;
}

.hamburger::after {
	transform:translateY(-16px);
	margin-top: 18px;
}

.hamburger::before {
	transform:translateY(16px);
}

.header-active .hamburger {
	background: #000000;
}

.header-active .hamburger::after {
	background: #000000;
}

.header-active .hamburger::before {
	background: #000000;
}

@media only screen and (min-width:321px) {
	h1 {
		font-size: 2rem;
		margin: 1em 0 .5em 0;
	}

	.material-icons {
		color: white;
		padding-right: 1em;
		cursor: pointer;
	}

	.header-active .material-icons {
		color: #000000;
	}

	label {
		display: block;
		position: absolute;
		cursor: pointer;
	}

	.top-toolbar {
		text-align: center;
		width: 100%;
		display: none ;
	}

	.header-wrapper {
		background-color: transparent;
		position: fixed;
		top: 0;
		width: 100%;
		border-bottom: 1px solid #6f6f6f87;
		padding: 3px 0px 3px 0px;
		transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
		line-height: 70px;
	}

	.header-active {
		padding: 1px 0px 1px 0px;
		background-color: #ffffff;
		border-bottom-color: transparent;
		-webkit-box-shadow: 4px 0 20px -5px rgb(0 0 0 / 20%);
		box-shadow: 4px 0 20px -5px rgb(0 0 0 / 20%);
	}

	.header-menu-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.navigation-section #nav-link {
		display: none;
	}

	.stated-logo {
		font-size: 1.3rem;
		font-weight: bold;
		color: #ffffff;
		text-decoration: none;
		margin-left: 1rem;
	}

	.header-active .stated-logo {
		color: #000000;
	}
}

@media only screen and (min-width:992px) {
	h1 {
		font-size: 2rem;
		margin: 1em 0 .5em 0;
	}

	label {
		display: block;
		position: absolute;
		cursor: pointer;
	}
	.top-toolbar {
		text-align: center;
		width: 100%;
		display: none ;
	}

	.header-wrapper {
		background-color: transparent;
		position: fixed;
		top: 0;
		width: 100%;
		border-bottom: 1px solid #6f6f6f87;
		padding: 0px 0px 0px 0px;
		transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	}

	.header-active {
		padding: 0px 0px 0px 0px;
		background-color: #ffffff;
		border-bottom-color: transparent;
		-webkit-box-shadow: 4px 0 20px -5px rgb(0 0 0 / 20%);
		box-shadow: 4px 0 20px -5px rgb(0 0 0 / 20%);
	}

	.header-menu-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.navigation-section #nav-link {
		display: none;
	}

	.stated-logo {
		font-size: 1.3rem;
		font-weight: bold;
		color: #ffffff;
		text-decoration: none;
		margin-left: 1rem;
	}

	.header-active .stated-logo {
		color: #000000;
	}
}

@media only screen and (min-width:1140px) {
	.header-wrapper {
		background-color: transparent;
		position: fixed;
		top: 0;
		width: 100%;
		border-bottom: 1px solid #6f6f6f87;
		padding: 28px 0px 22px 0px;
		transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
		line-height: 1.5;
	}

	.header-active {
		padding: 10px 0px 10px 0px;
		background-color: #ffffff;
		border-bottom-color: transparent;
		-webkit-box-shadow: 4px 0 20px -5px rgb(0 0 0 / 20%);
		box-shadow: 4px 0 20px -5px rgb(0 0 0 / 20%);
	}

	.nav-link {
		text-decoration: none;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		color: #ffffff80;
		margin-right: 32px;
		transition: all 0.2s ease-in-out;
	}

	.top-toolbar {
		display: flex;
		width: 41%;
	}

	.nav-link:last-child {
		margin-right: 0;
	}

	.nav-link:hover {
		color: #ffffff;
	}

	.active-nav-link {
		color: #ffffff;
	}

	.header-active .nav-link {
		color: #000000;
	}

	.header-active .nav-link:hover {
		color: #f69314;
	}

	.header-active .active-nav-link {
		color: #f69314;
	}

	h1 {
		font-size: 3rem;
		margin: 0 0 24px 0;
	}

	.stated-logo {
		font-size: 30px;
		font-weight: bold;
		color: #ffffff;
		text-decoration: none;
		margin-left: 0;
	}

	.header-active .active-nav-link {
		color: #f69314;
	}

	.hamburger {
		display: none;
	}
}
