<div class="chart-wrapper">
  <div id="chart">
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [yaxis]="chartOptions.yaxis"
    [xaxis]="chartOptions.xaxis"
    [labels]="chartOptions.labels"
    [stroke]="chartOptions.stroke"
    [title]="chartOptions.title"
    [subtitle]="chartOptions.subtitle"
    [dataLabels]="chartOptions.dataLabels"
    [fill]="chartOptions.fill"
    [tooltip]="chartOptions.tooltip"
    [legend]="chartOptions.legend"></apx-chart>
</div>
<div>
  <app-percentage-income-expenses></app-percentage-income-expenses>
</div>
</div>

