<div class="container">
	<div class="content-wrapper">
		<div class="agent-heading">
			<div class="agents">Our customers</div>
			<p class="agent-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus minima neque
				tempora reiciendis.</p>
		</div>
		<div class="cards">
			<!-- <div class="first-three-cards"> -->
				<div class="first-card">
					<img class="avatar-pic" src="../../assets/customer1.png">
					<div class="name">ABC
						<div class="profession">Real estate agent</div>
					</div>
				</div>
				<div class="second-card">
					<img class="card-pic" src="../../assets/customer3.png">
					<div class="second-name">DEF
						<div class="profession">Real estate agent</div>
					</div>
				</div>

				<div class="third-card">
					<img class="avatar-card-pic" src="../../assets/customer4.png">
					<div class="third-name">GHI
						<div class="profession">Real estate agent</div>
					</div>
				</div>
			<!-- </div> -->
		 <!-- <div class="last-three-cards"> -->
				<div class="forth-card">
					<img class="person-four" src="../../assets/customer4.png">
					<div class="name-four">GHI
						<div class="profession-four">Real estate agent</div>
					</div>
				</div>

				<div class="fifth-card">
					<img class="person-five" src="../../assets/customer1.png">
					<div class="name-five">GHI
						<div class="profession">Real estate agent</div>
					</div>
				</div>

				<div class="sixth-card">
					<img class="person-six" src="../../assets/customer3.png">
					<div class="name-six">GHI
						<div class="profession">Real estate agent</div>
					</div>
				</div>
			<!-- </div> -->
		</div>
	</div>
</div>
