<div class="container">
	<div class="content-wrapper">
		<div class="agent-heading">
			<div class="agents">Our customers</div>
			<p class="agent-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus minima nequetempora reiciendis.</p>
		</div>
		<div class="cards modified-cards">
			<div class="first-card m-card">
				<img class="avatar-pic" src="../../assets/customer1.png">
				<div class="name">ABC
					<div class="profession">Real estate agent</div>
				</div>
			</div>
			<div class="second-card m-card">
				<img class="card-pic" src="../../assets/customer3.png">
				<div class="second-name">DEF
					<div class="profession">Real estate agent</div>
				</div>
			</div>
			<div class="third-card m-card">
				<img class="avatar-card-pic" src="../../assets/customer4.png">
				<div class="third-name">GHI
					<div class="profession">Real estate agent</div>
				</div>
			</div>
			<div class="forth-card m-card">
				<img class="person-four" src="../../assets/customer4.png">
				<div class="name-four">GHI
					<div class="profession-four">Real estate agent</div>
				</div>
			</div>
			<div class="fifth-card m-card">
				<img class="person-five" src="../../assets/customer1.png">
				<div class="name-five">GHI
					<div class="profession">Real estate agent</div>
				</div>
			</div>
			<div class="sixth-card m-card">
				<img class="person-six" src="../../assets/customer3.png">
				<div class="name-six">GHI
					<div class="profession">Real estate agent</div>
				</div>
			</div>
		</div>
	</div>
</div>
