/* .agent-heading {
} */
.first-three-cards {
	display: flex;
	padding: 10px 0;
}

.last-three-cards {
	display: flex;
	padding: 100px 0;
}

.agents {
	font-size: 40px;
	font-weight: bold;
	text-align: left;
	color: orange;
}

.agent-description {
	text-align: left;
	font-size: 16px;
	color: grey;
	padding-bottom: 30px;
}

.cards {
	display:grid;
	padding-top:30px;
	padding-bottom: 50px;
	grid-template-rows: 400px 400px 0px;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}

.first-card {
	cursor: pointer;
	padding-bottom: 50px;
}

.avatar-pic {
    max-width: 90%;
    height: auto;
}

.name {
	background-color: #dfdddb;
	text-align: left;
	margin-right: 9%;
	padding: 10px;
}

.profession {
	text-align: left;
	font-size: 12px;
	color: grey;
}

.second-card {
	cursor: pointer;
}

.card-pic {
    max-width: 90%;
    height: auto;
}

.second-name {
	background-color: #dfdddb;
	text-align: left;
	margin-right: 9%;
	padding: 10px;
}

.third-card {
	cursor: pointer;
}

.avatar-card-pic {
    max-width: 90%;
    height: auto;
}

.third-name {
	background-color: #dfdddb;
	text-align: left;
	margin-right: 9%;
	padding: 10px;
}

.forth-card {
cursor: pointer;
}

.person-four {
    max-width: 92%;
    height: auto;
}

.name-four {
	background-color: #dfdddb;
	text-align: left;
	margin-right: 9%;
	padding: 10px;
}

.profession-four{
	text-align: left;
	font-size: 12px;
	color: grey;
}

.fifth-card {
	cursor: pointer;
}

.person-five {
    max-width: 90%;
    height: auto;
}

.name-five {
	background-color: #dfdddb;
	text-align: left;
	margin-right: 9%;
	padding: 10px;
}

.sixth-card {
	cursor: pointer;
}

.person-six {
    max-width: 90%;
    height: auto;
}

.name-six {
	background-color: #dfdddb;
	text-align: left;
	margin-right: 9%;
	padding: 10px;
}
