.agent-heading {
	padding: 150px 0px 10px 0;
}

.agents {
	font-size: 40px;
	margin: 50px 0px 0 0;
	font-weight: bold;
	text-align: left;
	color: orange;
}

.agent-description {
	text-align: left;
	font-size: 16px;
	color: grey;
}

.cards {
	display:grid;
	grid-template-columns: 300px 100px 300px;
	grid-template-rows: 400px 400px 0px;
	justify-content: space-between;
	width: 100%;
	justify-items: center;
}

.first-card {
	cursor: pointer;


}

.avatar-pic {
    max-width: 300px;
    height: 300px;
}

.name {
	background-color: #dfdddb;
	text-align: left;
}

.profession {
	text-align: left;
	font-size: 12px;
	color: grey;
}

.second-card {
	cursor: pointer;
}

.card-pic {
	height: 300px;
	width: 300px;
}

.second-name {
	background-color: #dfdddb;
	text-align: left;
}

.third-card {
	cursor: pointer;
}

.avatar-card-pic {
    max-width: 300px;
    height: 300px;
}

.third-name {
	background-color: #dfdddb;
	text-align: left;
}

.forth-card {
cursor: pointer;
}

.person-four {
	max-width: 300px;
    height: 300px;
}

.name-four {
	background-color: #dfdddb;
	text-align: left;
}

.profession-four{
	text-align: left;
	font-size: 12px;
	color: grey;
}

.fifth-card {
	cursor: pointer;
}

.person-five {
	height: 300px;
	width: 300px;
}

.name-five {
	background-color: #dfdddb;
	text-align: left;
}

.sixth-card {
	cursor: pointer;
}

.person-six {
	height: 300px;
	width: 300px;
}

.name-six {
	background-color: #dfdddb;
	text-align: left;
}
