.avatar-pic {
    max-width: 100%;
    height: auto;
	margin-bottom: -0.5em;
}

.card-pic {
    max-width: 100%;
    height: auto;
	margin-bottom: -0.2em;
}

.avatar-card-pic {
    max-width: 100%;
    height: auto;
	margin-bottom: -0.5em;
}

@media only screen and (min-width:321px) {
	.content-wrapper {
		padding-bottom: .5em;
		overflow-x: hidden;
	}

	.agents {
		font-size: 2rem;
		font-weight: bold;
		text-align: left;
		color: #f69314;
	}

	.agent-description {
		flex-direction: column;
		margin: 1em 0;
		color: grey;
	}

	.agent-heading {
		padding: 1em 0 0 1em;
	}

	.cards {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		width: 100%;
		cursor: pointer;
		margin-top: .1em;
	}

	.first-card,.second-card,.third-card {
		max-width: 90%;
		padding-bottom: 1em;
		margin-left: 1em;
	}

	.fifth-card,.sixth-card,.forth-card {
		max-width: 90%;
		margin-top: 0;
		padding-bottom: 1em;
		margin-left: 1em;
	}

	.person-four,.person-five,.person-six {
		margin-top: 0;
		max-width: 100%;
		margin-bottom: -.3em;
	}

	.name,.second-name,.third-name,.name-four,.name-five,.name-six {
		background-color: #dfdddb;
		text-align: left;
		margin-right: 0em;
		padding: 1.3em;
	}

	.profession {
		text-align: left;
		font-size: .75rem;
		color: grey;
	}

	.profession-four {
		text-align: left;
		font-size: .75rem;
		color: grey;
	}
 }

@media only screen and (min-width : 768px) {
	.content-wrapper{
		padding: 1em 0;
		overflow-x: hidden;
	}

   .agent-description {
	   margin-left: 1em;
	   color: grey;
   }

   .agent-heading {
		padding-left: 0em;
		margin-bottom: 3em;
   }

   .agents {
	   margin-left: .4em;
	   padding-left: 0;
	   font-size: 2.5rem;
	   font-weight: bold;
	   text-align: left;
	   color: #f69314;
   }

   .cards {
	   display: flex;
	   flex-direction: row;
	   flex-wrap: wrap;
	   width: 100%;
   }

   .first-card,.second-card {
	   cursor: pointer;
	   padding-left: 0em;
	   width:45%;
	   margin-top: .1em;
   }

   .third-card,.forth-card{
	   cursor: pointer;
	   padding-left: 0em;
	   width:45%;
   }

   .fifth-card,.sixth-card {
		cursor: pointer;
		padding-left: 0em;
		width:45%;
		margin-top: .1em;
   }

   .profession {
		text-align: left;
		font-size: .9rem;
		color: grey;
	}

	.profession-four {
		text-align: left;
		font-size: .9rem;
		color: grey;
	}

   .name,.name-four,.name-five {
	   background-color: #dfdddb;
	   text-align: left;
	   margin-right: 0em;
	   padding: 1.3em;
	   margin-top: -.3em;
   }

   .third-name {
		background-color: #dfdddb;
		text-align: left;
		margin-right: 0em;
		padding: 1.4em;
   }

   .second-name,.name-six {
		background-color: #dfdddb;
		text-align: left;
		margin-right: 0em;
		padding: 1.1em;
		margin-top: -.3em;
   }

   .person-four,.person-six,.person-five  {
	   max-width: 100%;
	   height: auto;
	   margin-top: .1em;
   }
}

@media only screen and (min-width:1140px) {
	.content-wrapper {
		padding: 5em 0;
		overflow-x: hidden;
	}

	.agent-heading,.agents {
		padding: 0;
		margin: 0;
	}

	.agent-description {
		text-align: left;
		font-size: 1.25rem;
		color: grey;
		padding-bottom: 1em;
		font-weight: 300;
		line-height: 1.7;
		margin: 0 25em 1em 0em;
	}

	.cards {
		display: grid;
		width:100%;
		padding-left: 0;
		grid-template-columns: 22em 22em 22em;
		grid-template-rows: 28em 24em;
	}

	.first-card {
		width:100%;
		padding-left: 0;
		margin:0
	}

	.third-card {
		padding-left: 3em;
		width:100%;
		padding-right: 0;
	}

	.second-card {
		width: 100%;
		padding-left: 1em;
	}

	.forth-card {
		padding-left: 0;
		width:100%;
		margin: 0;
	}

	.fifth-card {
		width:100%;
		padding-left: 1em;
	}

	.sixth-card {
		width:100%;
		padding-left: 3em;
	}

	.name,.name-four {
		background-color: #dfdddb;
		text-align: left;
		margin-right: -3.2em;
		padding: 1.3em;
	}

	.name-five {
		background-color: #dfdddb;
		text-align: left;
		margin-right: -3.2em;
		padding: 1.2em;
	}

	.name-six {
		background-color: #dfdddb;
		text-align: left;
		margin-right: -3.2em;
		padding: 1.1em;
	}

	.third-name {
		background-color: #dfdddb;
		text-align: left;
		margin-right: -3.2em;
		padding: 1.2em;
	}

	.second-name {
		background-color: #dfdddb;
		text-align: left;
		margin-right: -3.2em;
		padding: 1em;
	}

	.second-card {
		margin-top: 0em;
	}

	.person-four,.person-six,.person-five {
		max-width: 116%;
		height: auto;
		margin-bottom: -0.5em;
	}

	.avatar-pic {
		max-width: 116%;
		height: auto;
		margin-bottom: -0.5em;
	}

	.card-pic {
		max-width: 116%;
		height: auto;
		margin-bottom: -0.2em;
	}

	.avatar-card-pic {
		max-width: 116%;
		height: auto;
		margin-bottom: -0.5em;
	}
}
