.content-wrapper {
	border-top: 1px solid #e7e6e6;
	padding: 5em 0;
	margin-top: 3em;
}

.about-image-wrapper {
	max-width: 50%;
}

.about-image {
	display: flex;
	width:170%;
	height: auto;
	box-sizing: border-box;
}

.next-previous {
	position: relative;
	z-index: 99;
	border-radius: 7px;
	transform: translate(-50%, -50%);
	padding: 1.2em;
	left: 85%;
	display: inline-block;
	background: #f69314;
}

.previous {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: .625em;
	cursor: pointer;
}

.previous:hover {
	color: #e9e5e5;
	transition: .2s ease;
}

.next {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: .625em;
	cursor: pointer;
}

.next:hover {
	color: #e9e5e5;
	transition: .2s ease;
}

.about{
	padding-left: 20em;
}

.about-description {
	font-size: 1.5rem;
	line-height: 1.7;
	color: gray;
}

.second-description {
	font-size: 1.25rem;
	line-height: 1.7;
	color: gray;
}

.list-unstyled {
	font-size: 1.25rem;
	list-style: none;
	line-height: 2;
	color: gray;
	padding-bottom: 1em;
	padding-left: 0.1em;
}

.about-wrapper {
	display: flex;
	justify-content: space-between;
	text-align: left;
}

@media only screen and (max-width: 600px) {
	.about-wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
}
/* @media only screen and (max-width: 600px) {
	.text-break {
		word-break: break-word;
	}
} */

.about-heading {
	font-size: 3rem;
	color: #f69314;
	font-weight: 900;
}

.learn-more {
	background-color: #f69314;
	border-radius: 1.8em;
	color: #ecece9;
	text-decoration: none;
	padding: .937em 1.25em;

}

.learn-more:hover {
	background-color: #353434;
	border-color: #353434;
	transition: .3s all;
}

.tick-mark {
	color:#8bc34a;
}
