<div class="content-wrapper">
	<div class="container">
		<div class="about-wrapper">
			<div class="about-image-wrapper">
				<img class="about-image" src="../../assets/best realEstate.png">
				<div class="next-previous">
				<a class="previous" href="#">Prev</a>
				<a class="next" href="#">Next</a>
				</div>
			</div>
			<div class="about">
			<div class="about-heading">We Are The Best RealEstate Company</div>
				<p class="about-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
				<p class="second-description">Est qui eos quasi ratione nostrum excepturi id recusandae fugit omnis ullam pariatur itaque nisi voluptas impedit Quo suscipit omnis iste velit maxime.</p>
				<ul class="list-unstyled">
					<li>Placeat maxime animi minus</li>
					<li>Dolore qui placeat maxime</li>
					<li>Consectetur adipisicing</li>
					<li>Lorem ipsum dolor</li>
					<li>Placeat molestias animi</li>
				</ul>
				<a class="learn-more" href="#">Learn More</a>

			</div>

		</div>
	</div>
</div>
