.news-events-heading {
	text-align: center;
	font-size: 40px;
	font-weight: 900;
	color: #f69314;
	padding: 40px 0;
}

.news-container {
	padding: 5em 0;
}

.news-wrapper {
	display: flex;
}

.news-sub {
	padding: 30px 0;
}

.first-news-wrapper {
	max-width: 33.33%;
	height: auto;
	padding-right: 15px;
	padding-left: 15px;
}

.first-news {
	width:100%;
}

.first-news-image {
	width:100%;
}

.second-news-wrapper {
	max-width: 33.33%;
	height: 100%;
	padding-right: 15px;
	padding-left: 15px;
}

.second-news {
	width:100%;
}

.second-news-image {
	width:100%;
	margin-bottom: -10px;
}

.third-news-wrapper {
	max-width: 33.33%;
	height: 100%;
	padding-right: 1rem;
	padding-left: 1rem;
}

.third-news {
	width:100%;
}

.third-news-image {
	width:100%;
}

.news-heading {
	font-size: 1.2rem;
	text-decoration: none;
	color: #727070;
	line-height: 1.7;
}

.news {
	text-decoration: none;
	color: #f69314;
}

.name-date {
	color: #a39f9f;
	font-size: 1rem;
}

.whitespace {
	margin: 0 8px;
}

@media only screen and (min-width:321px) {
	.news-wrapper {
		width: 100%;
		justify-items: center;
		display: grid;
	}

	.news-events-heading {
		text-align: center;
		font-size: 2em;
		font-weight: 900;
		color: #f69314;
		padding: 1em 0 0 0;
		padding-bottom: 0;
		margin-bottom: 0;
	}

	.first-news-wrapper,.second-news-wrapper,.third-news-wrapper {
		max-width: 100%;
		height: auto;
	}

	.news-container {
		padding: 1em 0;
	}
	.first-news,.second-news,.third-news {
		padding-top: 2em;
	}

	.news-sub {
		padding-top: .5em;
	}
}

@media only screen and (min-width:768px) {
	.news-events-heading {
		text-align: center;
		font-size: 2em;
		font-weight: 900;
		color: #f69314;
		padding: 40px 0;
		padding-bottom: 0;
	}

	.news-wrapper {
		width:100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.news-sub {
		padding: 1em 0;
	}

	.first-news-wrapper,.second-news-wrapper {
		max-width: 50%;
		height: auto;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding-left: 0;
		margin-right: 0;
		padding-right: 0;
		justify-content: center;
	}

	.third-news-wrapper {
		max-width: 50%;
		height: auto;
		justify-content: center;
		display: flex;
		padding-left: 13em;
	}

	.news-container {
		padding: 1em 0;
	}

	.second-news {
		padding: 1em;
		width:100%
	}

	.second-news-image {
		width: 100%;
		margin-bottom: 3px;
	}

	.third-news {
		padding: 1em;
		width:100%;
		padding-top: 3em;
	}

	.first-news {
		padding: 1em;
		width:100%
	}
}

@media only screen and (min-width:1140px) {
	.news-events-heading {
		text-align: center;
		font-size: 2.5em;
		font-weight: 900;
		color: #f69314;
		padding: 40px 0;
	}

	.news-wrapper {
		width:100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.news-sub {
		padding: 1em 0;
	}

	.first-news-wrapper,.second-news-wrapper,.third-news-wrapper {
		max-width: 33.33%;
		height: auto;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding-left: 0;
		margin-right: 0;
		padding-right: 0;
		justify-content: space-around;
	}

	.news-container {
		padding: 1em 0;
	}

	.second-news {
		padding: 0.4em;
		width:100%
	}

	.second-news-image {
		width: 100%;
		margin-bottom: 3px;
	}

	.third-news {
		padding: .5em 0 .5em .7em;
		width:100%
	}

	.first-news {
		padding: .5em 1em 0em 0em;
		width:100%
	}
}
