<div class="news-container">
<div class="container">
	<div>
		<h1 class="news-events-heading">News & Events</h1>
	</div>
	<div class="news-wrapper">
		<div class="first-news-wrapper">
			<div class="first-news">
				<a>
					<img class="first-news-image" src="../../assets/news1.png">
				</a>
				<h1>
					<a class="news-heading" href="#">20+ Real Properties for Realtors</a>
				</h1>
				<div class="name-date">
					Ham Brook
					<span class="whitespace">.</span>
					Jan 18, 2019
					<span class="whitespace">.</span>
					<a class="news" href="#">News</a>
				</div>
			</div>
		</div>

		<div class="second-news-wrapper">
			<div class="second-news">
				<a>
					<img class="second-news-image" src="../../assets/news2.png">
				</a>
				<h1>
					<a class="news-heading" href="#">20+ Real Properties for Realtors</a>
				</h1>
				<div class="name-date">
					Ham Brook
					<span class="whitespace">.</span>
					Jan 18, 2019
					<span class="whitespace">.</span>
					<a class="news" href="#">News</a>
				</div>
			</div>
		</div>

		<div class="third-news-wrapper">
			<div class="third-news">
				<a>
					<img class="third-news-image" src="../../assets/news3.png">
				</a>
				<h1>
					<a class="news-heading" href="#">20+ Real Properties for Realtors</a>
				</h1>
				<div class="name-date">
					Ham Brook
					<span class="whitespace">.</span>
					Jan 18, 2019
					<span class="whitespace">.</span>
					<a class="news" href="#">News</a>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
